{% extends 'base.html' %}

{% block content %}

<p>Genre creation form.</p>

<div>
  <form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
      {{ form.name.label }}
      {% if form.name.errors %}
        {{ form.name(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.name }}
      {% endif %}
    </fieldset>
    <div>
      {{ form.submit }}
    </div>
  </form>
</div>

{% endblock %}
